@font-face {
  font-family: "Montserrat Bold";
  src: url("./Montserrat-Bold.ttf") format("truetype");
  /* font-weight: 800; */
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans Light";
  src: url("./NunitoSans-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("./NunitoSans-Regular.ttf") format("truetype");

  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans SemiBold";
  src: url("./NunitoSans-SemiBold.ttf") format("truetype");

  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("./NunitoSans-Bold.ttf") format("truetype");

  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans Extra Bold";
  src: url("./NunitoSans-ExtraBold.ttf") format("truetype");

  font-style: normal;
}